$TTL 86400
@   IN  SOA ns1.{{ domain }}. admin.{{ domain }}. (
        2024010101  ; Serial
        3600        ; Refresh
        1800        ; Retry
        604800      ; Expire
        86400 )     ; Minimum

@       IN  NS      ns1.{{ domain }}.
ns1     IN  A       {{ dns_ip }}
www     IN  A       192.168.10.20
ftp     IN  A       192.168.10.30
mail    IN  A       192.168.10.40
@       IN  MX  10  mail.{{ domain }}.