$TTL 86400
@   IN  SOA ns1.{{ domain }}. admin.{{ domain }}. (
        2024010101  ; Serial
        3600        ; Refresh
        1800        ; Retry
        604800      ; Expire
        86400 )     ; Minimum

@       IN  NS      ns1.{{ domain }}.
ns1     IN  A       {{ dns_ip }}
www     IN  A       {{ web_ip }}
ntp     IN  A       {{ ntp_ip }}
mail    IN  A       {{ mail_ip }}
ftp     IN  A       {{ ftp_ip }}
@       IN  MX  10  mail.{{ domain }}.