$TTL 86400
@   IN  SOA ns1.{{ domain }}. admin.{{ domain }}. (
        2024010101  ; Serial
        3600        ; Refresh
        1800        ; Retry
        604800      ; Expire
        86400 )     ; Minimum

@       IN  NS      ns1.{{ domain }}.
11      IN  PTR     ns1.{{ domain }}.
20      IN  PTR     www.{{ domain }}.
30      IN  PTR     ftp.{{ domain }}.
40      IN  PTR     mail.{{ domain }}.